<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSPhotoLibraryUsageDescription</key>

	<string></string>
	<key>NSCameraUsageDescription</key>
	<string></string>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string></string>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string></string>
	<string>앨범에 접근하여 사진을 선택하기 위해 권한이 필요합니다.</string>
	<key>BASE_URL</key>
	<string>${BASE_URL}</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>${GOOGLE_DOT_REVERSE_CLIENT_ID}</string>
			</array>
		</dict>
	</array>
	<key>GIDClientID</key>
	<string>${GOOGLE_CLIENT_ID}</string>
	<key>GOOGLE_MAP_API_KEY</key>
	<string>${GOOGLE_MAP_API_KEY}</string>
</dict>
</plist>
